@import "../../../variables.module.scss";
//personal Info
.inputPersonal {
  border: none;
  border-bottom: 1px solid white;
  font: 100 12px "Poppins", sans-serif;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  margin-left: 5px;
  background: transparent;
  color: $white-color;
}
.inputPersonal::placeholder {
  color: #ffffff1f;
  padding-left: 5px;
  background: transparent;
}
.inputPersonal:focus {
  color: $white-color;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  background: transparent;
}

//Preferred Jobs
.inputPreferredJob {
  border: none;
  border-bottom: 1px solid rgb(146, 8, 8);
  font: 100 12px "Poppins", sans-serif;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  margin-left: 5px;
  background: transparent;
  color: $black-color;
}
.inputPreferredJob::placeholder {
  color: $black-color;
  padding-left: 5px;
  background: transparent;
}
.inputPreferredJob:focus {
  color: $black-color;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  background: transparent;
}

.countrySelection {
  margin-right: 5px;
}

.countrySelectionOptions {
  color: $black-color;
  border: none;
}

.employmentSelection {
  margin-right: 5px;
}

.title {
  text-align: center;
}

.iconPencil {
  padding-right: 5px;
}
.textWrite {
  padding-left: 250px;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .textWrite {
    padding-left: 20%;
    margin-top: 20px;
  }
}
